@import 'reset.less';
@import '../static/fonts/prixma-nova.css';

:root {
    --padding-canvas-element-x: 1.5rem;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    // font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1.54;

    font-family: proxima-nova, 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overscroll-behavior-x: contain;
}

.padding-canvas-element {
    padding-left: var(--padding-canvas-element-x);
    padding-right: var(--padding-canvas-element-x);
}
