.canvas-embed {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overscroll-behavior-x: contain;

    [contenteditable] {
        outline: 0px solid transparent;
    }

}

:where(.canvas-embed) {
    @import 'tailwind-preflight.less';
}
